# Dataset bruto — baixado automaticamente pelo notebook 01
data/raw/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Ambientes virtuais
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
